*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    /* color:rgb(203, 203, 203); */
}
body{
    margin-top:4rem;
    background-image:linear-gradient(135deg,rgb(242, 206, 139),rgb(255, 249, 192),rgb(242, 206, 139));
    background-attachment: fixed;
}
button{
    padding:1rem 0.35rem;
    margin:1rem 1rem 0rem 1rem;
    border:0;
    border-radius:1rem;
    width:16rem;
    background-color:rgba(162, 76, 0, 0.9);

    color:white;
    box-shadow:inset rgb(66, 39, 0) 0px 0px 8px;
}

button:hover{
    cursor:pointer;
    background-color:rgb(255, 119, 0);

}
h2{
    text-align:center;
    padding:1rem;
    margin-bottom:2rem;
    margin-top:-2rem;
    margin-right:-2rem;
    margin-left:-2rem;
    border-radius:1rem 1rem 0rem 0rem;
    background-color:rgb(150, 83, 0);
    color:white;
}
input{
    width:14rem;
    margin:1rem;
    padding:0.8rem;
    border-radius:0.8rem;
background-color:rgb(255, 255, 255);
box-shadow:inset rgba(162, 76, 0, 0.7) 2px -2px 4px;
}
.container{
    border-radius:1rem;
    background-color:rgb(249, 245, 215);
    margin:10rem auto;
    width:18rem;
    /* height:15rem; */
    padding:2rem;
    box-shadow:4px 4px 6px;
}
a{
    float:right;
    margin-right:1.2rem;
    margin-top:-1rem;
    margin-bottom:0.5rem;
    font-size:12px;
    color:rgb(150, 83, 0);
    

}