.search-container{
    background-color: #100043;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      height: 2.5rem;
     position: fixed;
     width: 100%;
     top: 0;
  }
  
  .search-input {
      padding: 8px;
       margin-left: 1.6rem;
     /* margin-top: -90%; */
      border: none;
      width: 200px;
      border-radius:0.5rem;
      background-color: #cccccc71;
  }
  .search-input:focus{
    background-color: #cccccccd;
  }
  ::placeholder{
    color:white;
  }
    
  .search-input:focus::placeholder{
    color:rgb(0, 0, 0);
  }
  .form-input::placeholder{
    color:rgb(59, 59, 59);
}
    .post-button {
      margin-left: 72.2rem;
     margin-top: 1.9rem;
      padding: 8px 16px;
      border: none;
      background-color:#3498db;
      color: white;
      cursor: pointer;
    }
    
    .form-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .form-container {
      background-color: #fff;
      width:15rem;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    
    .form-input {
      padding: 0.7rem;
      margin-top: 1rem;
      border: 1px solid #ccc;
    }
    
    .submit-button {
      padding: 8px 16px;
      margin-top:1.5rem;
      margin-bottom:0rem;
      border: none;
      background-color:#3498db;
      color: white;
      cursor: pointer;
    }
    
    .data-content {
      margin-top: 20px;
      /* Add any additional styles for the data/content section */
    }